
.show-drop-actions{
    display: block;
}
.fade-cross {
    transition: ease-in;
    animation: anim 0.25s ease-in-out  forwards;
}

.MuiList-root {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.button-action {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

@keyframes anim {
    from {
        opacity: 0.5;
        width: 20px;
    }
    to {
        opacity: 1 ;
        width: 100%;
    }
}