


label {
    font-size: 1rem;
    font-weight: normal;
    color: #0f8f31;
}
.label-dark {
    color:#d26513
}

input,textarea {
    color:#333;
    padding: 0.5rem 0.75rem;
    outline: none;
    font-size: 1rem;
    font-weight: 400;
}

::-webkit-scrollbar{
    width: 0.25rem;
}

::-webkit-scrollbar-track{
    background-color: #ececec;
    border-radius: 0.75rem;
}

::-webkit-scrollbar-thumb{
    background-color: #f5eec8be;
    border-radius: 0.75rem;

}